body {
  background:url(/images/the_child_by_alexandreev_dczz7m8.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
}
.main-inner {
   background: #fff;
     opacity: 0.8;
  }
.header-inner {
   opacity: 0.8;
}
